@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";
@import "./editor-theme.css";
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
  * {
    @apply m-0 p-0 box-border text-base outline-purple/30 duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-inter font-normal text-black bg-white;
  }

  i {
    @apply mt-0.5;
  }

  .head {
    text-align: left;
    padding: 2rem 1rem;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .head h1 {
    color: transparent;
    background-image: linear-gradient(
      to right,
      #75dac8,
      #9ddca3
    ); /* Gradient from purple to blue */
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
  }

  .head p {
    color: #666;
    font-family: "Gelasio", serif;
    font-size: 2rem;
  }

  .ce-block__content,
  .ce-toolbar__content {
    max-width: 900px;
  }

  .search-bar {
    position: relative;
    height: 80px;
    line-height: 50px;
  }

  input {
    position: absolute;
    width: 430px;
    outline: none;
    font-size: 2em;
    padding: 0 30px;
    line-height: 80px;
    border: 2px solid #f0ffff;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
  }

  .where {
    position: absolute;
    font-size: 1.5em;
    color: #f0ffff;
    padding: 0 10px;
    margin: 0 10px;
    background-color: #252525;
    transition: 0.2 ease;
  }
  input:focus,
  input:valid {
    color: #f0ffff;
    border: 4px solid #f0ffff;
  }
  input:focus + .where,
  input:valid + .where {
    color: #f0ffff;
    height: 30px;
    line-height: 30px;
    padding: 0 2px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1111;
  }

  section {
    @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
  }

  ::selection {
    @apply bg-purple/30;
  }

  img {
    @apply w-full h-full object-cover;
  }

  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[5vw] py-5 h-[80px] border-b border-grey bg-white;
  }

  .h-cover {
    @apply min-h-[calc(100vh-80px)];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-dark {
    @apply whitespace-nowrap bg-black text-white rounded-full py-3 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .btn-light {
    @apply btn-dark bg-grey text-black;
  }

  .input-box {
    @apply w-[100%] rounded-md p-4 bg-grey pl-12 border border-grey focus:bg-transparent placeholder:text-black;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2;
  }

  .link {
    @apply text-dark-grey hover:text-black hover:bg-grey p-3 px-4 block opacity-75;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-5 text-dark-grey hover:text-black;
  }

  .sidebar-link.active {
    @apply text-black border-r-2 border-black pl-6 bg-grey/50 -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none;
  }

  #textEditor h2,
  h2 {
    @apply font-inter text-4xl leading-normal font-bold max-md:text-3xl max-md:leading-snug !important;
  }

  #textEditor h3,
  h3 {
    @apply font-inter text-3xl leading-loose max-md:text-2xl max-md:leading-normal !important;
  }

  #textEditor *,
  .blog-page-content * {
    @apply font-gelasio text-xl leading-10 md:text-2xl;
  }

  #textEditor a,
  .blog-page-content a {
    @apply text-purple underline hover:opacity-50;
  }

  .tag {
    @apply p-3 bg-grey rounded-full px-6 capitalize;
  }

  .blog-title {
    @apply text-2xl font-medium leading-7 line-clamp-3 sm:line-clamp-2;
  }

  .blog-index {
    @apply text-4xl sm:text-3xl lg:text-5xl font-bold text-grey leading-none;
  }
}

/* .search-area {
  @apply mt-5 mx-auto w-full max-w-4xl p-4 bg-white rounded-lg shadow-lg;
} */

input[type="text"],
input[type="date"] {
  @apply border-gray-300 rounded-md text-lg p-3;
}

/* button {
  color: #fff;
  padding: 8px 22px;
  border-radius: 6px;
  background: #3f3f3f;
  transition: all 0.2s ease;
}
search-option-button {
  background-color: transparent;
}
button:active {
  transform: scale(0.96);
} */

.cards {
  @apply flex flex-wrap justify-center gap-4;
}

.card {
  @apply bg-white rounded-lg overflow-hidden shadow-lg;
  width: 250px;
}

.card img {
  @apply w-full h-48 object-cover; /* Adjust height as necessary */
}

.card div {
  @apply text-lg font-semibold p-2;
}

/* .card button {
  @apply w-full text-white py-2 rounded-b-lg;
}

.cdx-settings-button[data-tune="withBorder"],
.cdx-settings-button[data-tune="withBackground"],
.cdx-settings-button[data-tune="stretched"] {
  display: none;
} */

.home .name {
  margin-right: 9px;
  width: 1162px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #4a4a4a;
}
.home .sign-in {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #4a4a4a;
}
.home .nav {
  margin: 0 34.7px 24px 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1219.3px;
  box-sizing: border-box;
}
.home .ai-travel-planner {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  background: linear-gradient(90deg, #75dac8, #9ddca3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.home .let-me-build-your-personal-itinerary {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 30px;
  color: #5b5b5b;
}
.home .heading {
  margin: 0 327.5px 59px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.home .where {
  position: relative;
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #acacac;
}
.home .country-city-or-landmark {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #5c5c5c;
}
.home .container-8 {
  margin: 16px 0 20px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home .when {
  position: relative;
  margin: 0 14.2px 4px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #acacac;
}
.home .add-date {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #5c5c5c;
}
.home .container-5 {
  margin: 16px 0 18px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home .theme {
  position: relative;
  margin: 0 2px 4px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #acacac;
}
.home .outdoor-museum-food {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  color: #5c5c5c;
}
.home .container-2 {
  margin: 14px 0 20px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home .search {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 800;
  font-size: 16px;
  color: #acacac;
}
.home .container-6 {
  margin-left: 20px;
  border-radius: 30px;
  background: #3f3f3f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 4.4px 26px 0;
  width: 118px;
  box-sizing: border-box;
}
.home .container-6:hover {
  background: #6b6b6b;
}
.home .container-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 801px;
  height: fit-content;
  box-sizing: border-box;
}
.radius-gradient-contatiner-l {
  background: linear-gradient(180deg, #f4f4f4, #6e6e6e);
  border-radius: 40px 0px 0px 40px;
}
.search-input-box-l{
  background: #262626;
  border-radius: 40px 0px 0px 40px;
  width: 19rem;
  padding: 0px 20px;
  margin: 2px;
  display: flex;
  flex-direction: row;
}
.radius-gradient-contatiner-c {
  background: linear-gradient(180deg, #f4f4f4, #6e6e6e);
}
.search-input-box-c{
  width: 150px;
  background: #262626;
  padding: 0px 20px;
  margin: 2px;
  display: flex;
  flex-direction: row;
}
.radius-gradient-contatiner-r {
  background: linear-gradient(180deg, #f4f4f4, #6e6e6e);
  border-radius: 0px 40px 40px 0px;
}
.search-input-box-r{
  background: #262626;
  width: 19rem;
  border-radius: 0px 40px 40px 0px;
  padding: 0px 20px;
  margin: 2px;
  display: flex;
  flex-direction: row;
}
.home .rectangle-26 {
  display: inline-flex;
  border: double 2px transparent;
  border-radius: 30px 0px 0px 30px;
  background-image: linear-gradient(#262626, #262626), radial-gradient(circle at center top, #6e6e6e 0%, #f4f4f4 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 270px;
  height: 72px;
/*   
  border-collapse: separate; 
  perspective: 1px;
  border-image: linear-gradient(180deg, #f4f4f4, #6e6e6e);
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid; */
}
.home .rectangle-27 {
  border-image: linear-gradient(180deg, #f4f4f4, #6e6e6e);
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  left: 274px;
  bottom: 0px;
  width: 162px;
  height: 72px;
}
.home .rectangle-28 {
  border-radius: 0 30px 30px 0;
  border: 2px solid #f4f4f4;
  position: absolute;
  right: 140px;
  bottom: 0px;
  width: 247px;
  height: 72px;
}
.home .search-1 {
  position: relative;
  margin: 0 0 73px 10px;
  display: flex;
  padding-left: 25px;
  width: 826px;
  box-sizing: border-box;
}
.home .inspire-me-where-to-go {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #acacac;
}
.home .container-12 {
  border-radius: 10px;
  border: 1.5px solid #949494;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 11px 19.4px 11px 19px;
  box-sizing: border-box;
}
.home .build-me-an-itinerary {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #acacac;
}
.home .container-9 {
  border-radius: 10px;
  border: 1.5px solid #949494;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 11px 1.4px 11px 0;
  width: 202px;
  box-sizing: border-box;
}
.home .find-me-astunning-beach {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #acacac;
}
.home .bottom-button {
  width: 14.5rem;
  border-radius: 10px;
  border: 1.5px solid #949494;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 8.9px 11px 9px;
  box-sizing: border-box;
}
.home .bottom-button:hover {
  border: 1.5px solid #c1c1c1;
}

.home .bottom-button-text {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  color: #acacac;
}

.home .bottom-button-text:hover {
  color: #c1c1c1;
}

.home .container-7 {
  border-radius: 10px;
  border: 1.5px solid #949494;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 11px 0.4px 11px 0;
  width: 202px;
  box-sizing: border-box;
}
.home .tags {
  border-radius: 10px;
  margin-left: 11px;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  width: fit-content;
  box-sizing: border-box;
}
.home .search-area {
  width: 100%;
  background: #262626;
  position: relative;
  margin-bottom: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 0 48px 0;
  box-sizing: border-box;
}
.home .your-travel-bucketlist-starts-here {
  margin: 0 59.6px 38px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  color: #313131;
}
.home .rectangle-12 {
  border-radius: 10px 10px 0 0;
  background: url("../assets/images/rectangle_12.png") 50% / cover no-repeat;
  margin-bottom: 48px;
  width: 266px;
  height: 263px;
}
.home .day-adventure-in-goa {
  margin: 0 22px 5px 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.home .may-29-jun-2 {
  margin: 0 23px 18px 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #848484;
}
.home .explore {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #3c3c3c;
}
.home .container-3 {
  border-radius: 10px;
  background: #f6f6f6;
  position: relative;
  margin: 0 19px 0 18px;
  display: flex;
  padding: 12px 0 11px 0.3px;
  width: 229px;
  box-sizing: border-box;
}
.home .goa {
  flex: 1 1 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.home .rectangle-15 {
  border-radius: 10px 10px 0 0;
  background: url("../assets/images/rectangle_15.png") 50% / cover no-repeat;
  margin-bottom: 48px;
  width: 266px;
  height: 263px;
}
.home .day-adventure-in-paris {
  margin: 0 22px 5px 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.home .may-29-jun-21 {
  margin: 0 23px 18px 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #848484;
}
.home .explore-1 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #3c3c3c;
}
.home .container-10 {
  border-radius: 10px;
  background: #f6f6f6;
  position: relative;
  margin: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px 11px 10px;
  width: 90%;
  box-sizing: border-box;
}
.home .paris {
  flex: 1 1 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.home .rectangle-18 {
  border-radius: 10px 10px 0 0;
  background: url("../assets/images/rectangle_18.png") 50% / cover no-repeat;
  margin-bottom: 48px;
  width: 266px;
  height: 263px;
}
.home .day-adventure-in-guam {
  margin: 0 19.8px 5px 22px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.home .may-29-jun-22 {
  margin: 0 23px 18px 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #848484;
}
.home .explore-2 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #3c3c3c;
}
.home .container-14 {
  border-radius: 10px;
  background: #f6f6f6;
  position: relative;
  margin: 0 19px 0 18px;
  display: flex;
  padding: 12px 0 11px 0.3px;
  width: 229px;
  box-sizing: border-box;
}
.home .guam {
  flex: 1 1 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.home .rectangle-21 {
  border-radius: 10px 10px 0 0;
  background: url("../assets/images/rectangle_21.png") 50% / cover no-repeat;
  margin-bottom: 48px;
  width: 266px;
  height: 263px;
}
.home .day-adventure-in-korea {
  margin: 0 20.7px 5px 22px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.home .may-29-jun-23 {
  margin: 0 23px 18px 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: #848484;
}
.home .explore-3 {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #3c3c3c;
}
.home .container-1 {
  border-radius: 10px;
  background: #f6f6f6;
  position: relative;
  margin: 0 19px 0 18px;
  display: flex;
  padding: 12px 0 11px 0.3px;
  width: 229px;
  box-sizing: border-box;
}
.home .korea {
  flex: 1 1 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.home .container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  width: fit-content;
  box-sizing: border-box;
}
.home .bucketlist {
  margin: 0 84px 80px 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.home .how-to-travel-with-ai {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
  color: #313131;
}
.home .this-is-about-the-app {
  margin: 0 11px 234px 0;
  display: inline-block;
  width: 454px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.home .image-9 {
  background: url("../assets/images/image_9.png") 50% / cover no-repeat;
  width: 451px;
  height: 256px;
}
.home .container-11 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 916px;
  box-sizing: border-box;
}
.home .about {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.home {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 28px 0 225px 0; */
  box-sizing: border-box;
}

.goa, .paris, .guam, .korea {
  position: relative;
}

.weather-widget {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3); /* 배경을 약간 투명하게 설정하여 이미지가 보이도록 함 */
  padding: 10px; /* 적절한 패딩으로 텍스트 간격 조정 */
  border-radius: 8px; /* 모서리를 둥글게 처리 */
  width: auto; /* 또는 필요에 따라 고정 너비 설정 */
}